<button mat-icon-button mat-dialog-close class="btn-align-right">
    <mat-icon>cancel</mat-icon>
</button>
<h2 mat-dialog-title>User Detail</h2>

<mat-dialog-content>
    <form [formGroup]="registerForm">
        <div class='leftblock'>
            <mat-form-field class="full">
                <input matInput placeholder="First Name" name="firstName" required formControlName="firstName"
                    cdkFocusInitial>
            </mat-form-field>
            <div>
                <mat-error *ngIf="registerForm.get('firstName').hasError('required')">First name is required.
                </mat-error>
            </div>
            <mat-form-field class="full">
                <input matInput placeholder="Last Name" name="lastName" required formControlName="lastName">
            </mat-form-field>
            <div>
                <mat-error *ngIf="registerForm.get('lastName').hasError('required')">Last name is required.</mat-error>
            </div>
            <mat-form-field class="full">
                <input matInput placeholder="Email" name="email" required formControlName="email">
            </mat-form-field>
            <div>
                <mat-error *ngIf="registerForm.get('email').hasError('email')
                || registerForm.get('email').hasError('required')">Email is not valid.</mat-error>
            </div>
        </div>
    </form>
    <form [formGroup]="passwordsForm">
        <div class='rightblock'>
            <mat-form-field class="full">
                <input matInput placeholder="Password" name="password" required formControlName="password"
                    type="password">
            </mat-form-field>
            <div>
                <mat-error *ngIf="passwordsForm.get('password').hasError('required')">Password is required.
                </mat-error>
            </div>
            <mat-form-field class="full">
                <input matInput placeholder="Confirm Password" name="confirmPassword" required
                    formControlName="confirmPassword" type="password">
            </mat-form-field>
            <div>
                <mat-error *ngIf="passwordsForm.get('confirmPassword').hasError('required')">Confirm password
                    required.
                </mat-error>
                <mat-error *ngIf="passwordsForm.hasError('notSame')">Passwords do not
                    match.
                </mat-error>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-stroked-button color="primary" class="btn controlbutton" type="button" (click)="update()"
        [disabled]="!registerForm.valid || !passwordsForm.valid">
        REGISTER
    </button>
</mat-dialog-actions>