<h2 mat-dialog-title>User Detail</h2>
<mat-dialog-content>
    <div class='fullblock'>
        <mat-form-field class="full">
            <input matInput placeholder="First Name" value="{{ this.data.firstName }}" name="firstName">
        </mat-form-field><br/>
        <mat-form-field class="full">
            <input matInput placeholder="Last Name" value="{{ this.data.lastName }}" name="lastName">
        </mat-form-field><br/>
        <mat-form-field class="full">
            <input matInput placeholder="Password" value="{{ this.data.password }}" name="password">
        </mat-form-field>
    </div>
</mat-dialog-content>