<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>Hello, world!</h1>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
        quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
        ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
      </ul>
      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas.
        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
        egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et
        sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet,
        wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac
        dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
    </div>
    <div class="col-md">
      <h1>Join Here!</h1>
      <div class="p-5 border border-dark rounded">
        <button mat-button class="btn controlbutton" type="button" (click)="register()">
          <span class="h3"><mat-icon>arrow_forward</mat-icon>Register here<mat-icon>arrow_back</mat-icon></span>
        </button>
        <h3 style="padding-left: 5%;">or login</h3>
          <form #f="ngForm" (ngSubmit)="clickLogin()">
            <mat-dialog-content>
              <mat-form-field class="full">
                <input matInput placeholder="Email" name="email" required
                  [formControl]="email" cdkFocusInitial>
              </mat-form-field>
              <div>
                <mat-error *ngIf="!email.valid">Email is not valid.</mat-error>
              </div>
              <mat-form-field class="full">
                <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" required
                  [formControl]="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div>
                <mat-error *ngIf="!password.valid || !loginValid">Email or password is not valid.</mat-error>
              </div>
            </mat-dialog-content>
          </form>
        
        <div class="text-center">
          <button mat-stroked-button color="primary" class="btn controlbutton" type="button"
            (click)="clickLogin()" [disabled]="email.invalid || password.invalid" style="float:right;">
            LOGIN
          </button>
        </div>
      </div>
    </div>
  </div>
</div>